@model OAuthTester.Models.TwoFactorSecret
@{
    ViewBag.Title = "ShowTwoFactorSecret";
}

<h2>ShowTwoFactorSecret</h2>
<p>
    Add the code below to Google Authenticator:
</p>
<p>
    @Html.QRCode(string.Format("otpauth://totp/GeorgeWebsite?secret={0}", Model.EncodedSecret))
    @* Html.ViewBag.QRCode *@
</p>
<p>
    @Model.EncodedSecret
</p>
